middle/src/test/resources/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.example.org/schema/custom"
           targetNamespace="http://www.example.org/schema/custom"
           elementFormDefault="qualified">

    <xs:element name="custom-tag">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" />
            <xs:attribute name="name" type="xs:string" />
            <xs:attribute name="age" type="xs:string" />
        </xs:complexType>
    </xs:element>
</xs:schema>